.profileHeader {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  padding-right: 2px; 
}

.header #logout {
  margin: 5px;
}

/* .border {
  /* border: 1pt black solid; */
  /* float: left;
  width: 49%;
  height: 500pt;
  padding: 40pt;
  margin:.2%; 
} */

span.ant-descriptions-item-content {
  font-size: 20pt;
}

span.ant-descriptions-item-label {
  font-size: 20pt;
  font-weight: bolder;
}

div.ant-descriptions-title {
  font-size: 25pt;
  font-weight: bolder;
  text-decoration: underline;
}

/* .container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 500px;
  vertical-align: middle
} */

.mainPageContainer {
  height: 100vh;
  display: flex;
  /* position: fixed; */
}

#profile, span.ant-descriptions-item-label, span.ant-descriptions-item-content  {
  align-content: center;
  text-align: center;
  height: 100%;
  overflow: scroll;
  flex-basis: 50%;
}

span.ant-descriptions-item-label, span.ant-descriptions-item-content{
  text-align: right;
  flex: none;
}

div#postsContainer  {
  height: 100%;
  overflow: scroll;
  flex-basis: 50%;
  text-align: center;
}
